@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

$base: 0.25rem;

/*---------------  COLORS  ------------------*/

$primary_orange: hsl(26, 100%, 55%);
$pale_orange: hsl(25, 100%, 94%);

$vr_dk_blue: hsl(220, 13%, 13%);
$dk_grayish_blue: hsl(219, 9%, 45%);
$grayish_blue: hsl(220, 14%, 75%);
$lt_grayish_blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

/*---------------  COLORS  ------------------*/

/*---------------  Reset Style  ------------------*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,ol{
    list-style: none;
}

a{
    color: $black;
    text-decoration: none;
}

button{
    background: transparent;
    border: none;
}

/*---------------  Reset Style  ------------------*/


/*---------------  Custom Styles  ------------------*/

/* Display */

.flex{
    display: flex;
}

.grid{
    display: grid;
}

/* Position */

.center{
    place-items: center;
}

/* Font Weight */
.fw--700{
    font-weight: 700;
}

/* Font Size */

.fs--900{
    font-size: 2.5rem;
}
.fs--700{
    font-size: 2rem;
}
.fs--500{
    font-size: 1.125rem;
}

/* Font Color */

.fcl--drk{
    color: $vr_dk_blue;
}
.fcl--mid{
    color: $dk_grayish_blue;
}
.fcl--lt{
    color: $grayish_blue;
}

/*---------------  Custom Styles  ------------------*/

.container{
    max-width: $base*275;
    margin: 0 auto;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

.header{

    &-container{
        border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
    }
    &__nav{
        align-items: center;
        justify-content: space-between;
        padding: $base*8 0;
    }

    &__menu{
        width: 100%;
        flex-grow: 1;
        margin-left: $base*16;

        &-item{
            position: relative;


            &+&{
                margin-left: $base * 9;
            }


            &::before{
                content: '';
                position: absolute;
                width: 100%;
                height: $base;
                background: $primary_orange;
                left: 0;
                right: 0;
                top: $base*16;
                opacity: 0;
                transition: opacity .3s ease;
            }

            &:hover::before{

                opacity: 1;

            }

            a{
                transition: color .3s ease;
                &:hover{
                    color: $vr_dk_blue;
                }
            }
        }


    }

    &__basket{
        margin-right: $base*11;
    }

}

/* Mobile Version */
